<!--
  Licensed to the Apache Software
	Foundation (ASF) under one or more contributor license agreements. See the
	NOTICE file distributed with this work for additional information regarding
	copyright ownership. The ASF licenses this file to You under the Apache License,
	Version 2.0 (the "License"); you may not use this file except in compliance
	with the License. You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software distributed
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for
  the specific language governing permissions and limitations under the License.
  -->
<div class="metron-slider-pane-edit fill load-left-to-right dialog1x">

    <div class="form-title">Edit Rule</div>
    <i class="fa fa-times float-right close-button" aria-hidden="true" (click)="onCancel()"></i>


    <form role="form" class="threat-intel-form">
        <div class="form-group">
          <label attr.for="statement">NAME</label>
          <input type="text" class="form-control" name="ruleName" [(ngModel)]="newRiskLevelRule.name">
        </div>
        <div class="form-group">
            <label attr.for="statement">TEXT</label>
            <textarea rows="30" class="form-control" name="ruleValue" [(ngModel)]="newRiskLevelRule.rule" style="height: inherit"></textarea>
        </div>
    </form>
    <form class="form-inline">
        <div class="form-group score">
            <label class="score-label" attr.for="statement">SCORE ADJUSTMENT</label>
            <metron-config-ace-editor
              name="scoreExpression"
              [(ngModel)]="newRiskLevelRule.score"
              [liveAutocompletion]="false"
              [enableSnippets]="false"
              [useWorker]="false"
              [type]="'STELLAR'"
              (onChange)="onScoreChange()"
              [placeHolder]="'Enter a valid Stellar expression'"
              data-qe-id="score-editor"
            >
            </metron-config-ace-editor>
        </div>
    </form>

    <div class="form-group">
        <div class="form-seperator-edit"></div>
        <div class="button-row">
            <button
              class="btn form-enable-disable-button"
              (click)="onTest()"
              data-qe-id="test-score"
            >
              TEST
            </button>
            <button
              type="submit"
              class="btn form-enable-disable-button"
              (click)="onSave()"
              [disabled]="!isScoreValid"
              data-qe-id="save-score"
            >
              SAVE
            </button>
            <button class="btn form-enable-disable-button ml-1" (click)="onCancel()" >CANCEL</button>
        </div>
    </div>
</div>
