/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.config-table {
  table-layout: fixed;
}

.dark-grey {
  color: #545454;
}

table tr td, table tr th {
  padding: 0.9em;
}

.group-parent-label {
  color: #A042B4;
}

.parent {
  background: #272727;
}

.cell-name {
  font-size: 14px;
  position: relative;

  & .group-caret-down-icon {
    position: absolute;
    top: 10px;
    left: -14px;
  }
}

.config-table {

  tr {
    border-bottom: 1px solid #404040;
    border-left: 4px solid transparent;
  }

  .dirty {
    background-color: rgba(255, 255, 0, 0.1);
    border-left: 4px solid yellow;
  }

  .phantom {
    background-color: rgba(0, 255, 0, 0.1);
    border-left: 4px solid green;
  }

  .deleted {
    background-color: rgba(255, 0, 0, 0.1);
    border-left: 4px solid red;
  }

  & thead {
    & th:nth-child(1) {
      width: 40px;
    }
  }

  & tbody {

    border-bottom: 2px solid #404040;

    & td {
      border: 0;
      height: 34px;
      line-height: 34px;
      vertical-align: middle;
      padding: 0;

      &.drag-handle {
        padding: 0 0 0 8px;
        position: relative;

        & .drag-handle-icon {
          color: #3F88B4;
          cursor: grab;

          & .drag-handle-part {
            &:nth-child(2) {
              margin-left: -2px;
            }
          }
        }

        &:hover {
          background: #1E434F;

          & .drag-handle-icon {
            color: #fff;
          }
        }
      }
    }
  }
}

.undo {
  background: #1E434F;
  color: #428EBC;
  border: 1px solid #2B576B;
  font-size: 9px;
  line-height: 14px;
  vertical-align: middle;
  padding: 0 3px;
  position: absolute;
  top: 9px;
  left: -16px;
  cursor: pointer;
}

.indentation {
  color: #4F4F4F;
}

.highlighted {
  background: #202E33;
}

.dragged-over {
  background: #1E434F;
}

.drop-before {
  & td {
    border-top: 1px solid #3F88B4 !important;
  }
}

.drop-after {
  & td {
    border-bottom: 1px solid #3F88B4 !important;
  }
}

.sensor-button {
  width: 140px;
  margin-right: .4em;
}
.save-button {
  background-color: #006ea0;
  border-color: #006ea0;
  color: white;
  font-size: 14px;
}
