src/site/markdown/
src/site/resources/images/
*~
target/
*dependency-reduced-pom.xml
.idea
*.iml
*.iws
.DS_Store
*.project
*.classpath
*.settings
*.metadata
*hbase-site.xml
site.xml
*.log
*.swp
*.tmp
*.bak
*.class

tmp/**
tmp/**/*
temp/**
temp/**/*

repodata/
