<!--
  Licensed to the Apache Software
	Foundation (ASF) under one or more contributor license agreements. See the
	NOTICE file distributed with this work for additional information regarding
	copyright ownership. The ASF licenses this file to You under the Apache License,
	Version 2.0 (the "License"); you may not use this file except in compliance
	with the License. You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software distributed
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for
  the specific language governing permissions and limitations under the License.
  -->
<div class="metron-slider-pane-edit fill load-left-to-right dialog2x">

    <div class="form-group">
        <div class="form-title">Configure Raw JSON</div>
        <i class="fa fa-times float-right close-button" aria-hidden="true" (click)="onCancel()"></i>
    </div>


  <form role="form" class="enrichments-form">

      <div class="form-group">
          <label attr.for="newSensorParserConfig">SENSOR PARSER CONFIG</label>
          <metron-config-ace-editor [(ngModel)]="newSensorParserConfig" [ngModelOptions]="{standalone: true}" [type]="'JSON'" [placeHolder]="'Enter Sensor Parser Config'"> </metron-config-ace-editor>
      </div>
      <div class="form-group">
          <label attr.for="newSensorEnrichmentConfig">SENSOR ENRICHMENT CONFIG</label>
          <metron-config-ace-editor [(ngModel)]="newSensorEnrichmentConfig" [ngModelOptions]="{standalone: true}" [type]="'JSON'" [placeHolder]="'Enter Sensor Enrichment Config'"> </metron-config-ace-editor>
      </div>
      <div class="form-group">
          <label attr.for="newIndexingConfigurations">INDEXING CONFIGURATIONS</label>
          <metron-config-ace-editor [(ngModel)]="newIndexingConfigurations" [ngModelOptions]="{standalone: true}" [type]="'JSON'" [placeHolder]="'Enter Indexing Configurations'"> </metron-config-ace-editor>
      </div>

      <div class="form-group">
          <div class="form-seperator-edit"></div>
          <div class="button-row">
              <button type="submit" class="btn form-enable-disable-button" (click)="onSave()">SAVE</button>
              <button class="btn form-enable-disable-button ml-1" (click)="onCancel()" >CANCEL</button>
          </div>
      </div>

  </form>

</div>
