</section>
<section class="hero-second-level darken">

    <div class="v-middle-wrapper">
        <div class="v-middle-inner">
            <div class="v-middle text-center">
                <p><img src="/img/incubator_logo.png"></p>
              
                      
            <p>The contents of this website are © 2016 Apache Software Foundation under the terms of<br /> the Apache License v2. Apache Metron and its logo are trademarks of the Apache Software Foundation.</p>
        
                               
            </div>
        </div>
    </div>
</section>
