# MVN build process creates these, but they shouldn't be in source control
opensoc-streaming/OpenSOC-Alerts/target/
opensoc-streaming/OpenSOC-DataLoads/dependency-reduced-pom.xml
opensoc-streaming/OpenSOC-DataLoads/target/
opensoc-streaming/OpenSOC-EnrichmentAdapters/target/
opensoc-streaming/OpenSOC-Indexing/target/
opensoc-streaming/OpenSOC-MessageParsers/target/
opensoc-streaming/OpenSOC-Pcap_Service/target/
opensoc-streaming/OpenSOC-Topologies/target/
*~
target
*dependency-reduced-pom.xml
.idea
*.iml
.DS_Store
*.project
*.classpath
*.settings
*hbase-site.xml
*.log
