*~
target/
*/target/
*dependency-reduced-pom.xml
.idea
*.iml
*.iws
.DS_Store
*.project
*.classpath
*.settings
*.metadata
*hbase-site.xml
*.log
*.swp
*.tmp
*.bak
*.class
*.pyc

tmp/**
tmp/**/*
temp/**
temp/**/*
metron-interface/metron-alerts/node/
repodata/

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
metron-interface/metron-alerts/TODO
