/mysql/enrichment
/hbase/data-management
/storm/elasticsearch
/storm/enrichment
/storm/parser
/storm/indexing
/kafkazk/data/*
!/kafkazk/data/BroExampleOutput.txt
!/kafkazk/data/SquidExampleOutput.txt
