/compose/.env
/compose/elasticsearch/es_templates
/compose/kafkazk/common
/compose/kafkazk/parser
/compose/kafkazk/enrichment
/compose/hbase/data-management
/compose/storm/elasticsearch
/compose/storm/enrichment
/compose/storm/parser
/compose/storm/indexing
/compose/kafkazk/data/*
!/compose/kafkazk/data/BroExampleOutput.txt
!/compose/kafkazk/data/SquidExampleOutput.txt
wait-for-it.sh
!/scripts/wait-for-it.sh