/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "../../_variables.scss";

.form-title
{
  padding-left: 25px;
}

.title
{
  font-size: 12px;
}

.close-button
{
  padding-right: 20px;
}

.field-schema-row
{
  display: flex;
  width: 100%;
  padding: 10px 0px 10px 0px;
  background: #383838;
}

.field-schema-edit-title
{
  font-size: 15px;
  font-weight: bold;
}

.field-schema-cell
{
  float: none;
  font-size: 13px;
  height: 15px;
  line-height: 15px;
  display: table-cell;
  vertical-align: middle;
  word-break: break-all;
  font-family: Roboto-Regular;
}

.field-schema-cell-title
{
  @extend .field-schema-cell;
  color: $silver-color;
  font-size: 14px;
}

.field-schema-cell-value
{
  @extend .field-schema-cell;
  font-size: 13px;
}

.small-close-button {
  font-size:20px;
  color:$silver-color;
  cursor: pointer;
}

.config
{
  background: $edit-background;
  border: 1px solid $edit-background-border;
}

.enrichment-cell
{
  display: table-cell;
  vertical-align: middle;
  float: none;
  min-height: 35px;
  line-height: 20px;
}

.enrichments-edit-title
{
  font-size: 15px;
  font-weight: bold;
}

.transform-info-row
{
  display: table;
  width: 100%;
  min-height: 35px;
}

.edit-pane-readonly
{
  background: $edit-child-background;
  font-size: 12px;
  margin-bottom: 0.5em;
  font-style: italic;
  padding: 0.5rem 0.75rem;
  border: none;
  line-height: 1.5em;
  height: 35px;
}

.field-suppressed
{
  background-color: #262626;
  color: #737373;
  .field-schema-cell-title
  {
    color: #737373;
  }
}

.metron-bg-inverse
{
  background: #2e2e2e;
  margin-bottom: 70px;
}

select
{
  width: 100%;
  display: block;
}

.placeholder
{
  text-align: center;
  font-size: 13px;
  color: $text-color-white;
}

.add-button
{
  button
  {
    width: 100%;
    height: 35px;
    padding: 0px;
  }
  i
  {
    font-size: 1.5em;
    color: $field-button-color;
  }
}

.fieldschema-form
{
  padding-left: 25px;
  padding-right: 20px;
}
