#Alerts Bolt
bolt.alerts.adapter=com.opensoc.alerts.adapters.AllAlertAdapter
com.opensoc.alerts.adapters.AllAlertAdapter.whitelist_table_name = ip_whitelist
com.opensoc.alerts.adapters.AllAlertAdapter.blacklist_table_name = ip_blacklist
com.opensoc.alerts.adapters.AllAlertAdapter.quorum=zkpr1,zkpr2,zkpr3
com.opensoc.alerts.adapters.AllAlertAdapter.port=2181
com.opensoc.alerts.adapters.AllAlertAdapter._MAX_CACHE_SIZE_OBJECTS_NUM=3600
com.opensoc.alerts.adapters.AllAlertAdapter._MAX_TIME_RETAIN_MINUTES=1000