#Alerts Bolt
bolt.alerts.adapter=org.apache.metron.alerts.adapters.AllAlertAdapter
org.apache.metron.alerts.adapters.AllAlertAdapter.whitelist_table_name = ip_whitelist
org.apache.metron.alerts.adapters.AllAlertAdapter.blacklist_table_name = ip_blacklist
org.apache.metron.alerts.adapters.AllAlertAdapter.quorum=zkpr1,zkpr2,zkpr3
org.apache.metron.alerts.adapters.AllAlertAdapter.port=2181
org.apache.metron.alerts.adapters.AllAlertAdapter._MAX_CACHE_SIZE_OBJECTS_NUM=3600
org.apache.metron.alerts.adapters.AllAlertAdapter._MAX_TIME_RETAIN_MINUTES=1000