/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "../../../vendor.scss";
@import "../../../variables.scss";

label {
  margin-bottom: 2px;
}

.card {
  width: 349px;
  position: absolute;
  left: -115px;
  z-index: 1;
  top: 50px;
  border-radius: 0;
  background: $mine-shaft-2;
}

.card-block {
  padding: 1rem;
}

.card-title {
  color: $silver;
}

.preset-row {
  color: $silver;
  text-align: center;
  width: 100%;
  height: 45px;

  .preset-cell {
    @extend .d-inline-block;

    width : 45px;
    height: 35px;
    float: left;
    cursor: pointer;
    line-height: 35px;
    font-size:13px;
    border-right: 1px solid $tundora;
    border-top: 1px solid $tundora;
    border-bottom: 1px solid $tundora;
  }

  .preset-cell:first-child {
    border-left: 1px solid $tundora;
    border-radius: 4px 0px 0px 4px;
  }

  .preset-cell:last-child {
    border-radius: 0px 4px 4px 0px;
  }

  .preset-cell.is-active {
    color: #ffffff;
    background: $eastern-blue;
  }
}

.fa-sort-asc {
  position: absolute;
  bottom: -50px;
  left: 44px;
  font-size: 62px;
  color: #333333;
  z-index: 2;
}
