#[[#]]# Metron REST and Configuration UI

This UI exposes and aids in sensor configuration.

#[[##]]# Prerequisites

* A running Metron cluster
* A running instance of MySQL
* Java 8 installed
* Storm CLI and Metron topology scripts (start_parser_topology.sh, start_enrichment_topology.sh, start_elasticsearch_topology.sh) installed

#[[##]]# Installation
1. Package the Application with Maven:
    ```
    mvn clean package
    ```

1. Untar the archive in the target directory.  The directory structure will look like:
    ```
    bin
      start.sh
    lib
      metron-rest-version.jar
    ```

1. Install Hibernate by downloading version 5.0.11.Final from (http://hibernate.org/orm/downloads/).  Unpack the archive and set the HIBERNATE_HOME environment variable to the absolute path of the top level directory.
    ```
    export HIBERNATE_HOME=/path/to/hibernate-release-5.0.11.Final
    ```

1. Install the MySQL client by downloading version 5.1.40 from (https://dev.mysql.com/downloads/connector/j/).  Unpack the archive and set the MYSQL_CLIENT_HOME environment variable to the absolute path of the top level directory.
    ```
    export MYSQL_CLIENT_HOME=/path/to/mysql-connector-java-5.1.40
    ```

1. Create a MySQL user for the Config UI (http://dev.mysql.com/doc/refman/5.7/en/adding-users.html).

1. Create a Config UI database in MySQL with this command:
    ```
    CREATE DATABASE IF NOT EXISTS metronrest
    ```

1. Create an `application.yml` file with the contents of [application-docker.yml](src/main/resources/application-docker.yml).  Substitute the appropriate Metron service urls (Kafka, Zookeeper, Storm, etc) in properties containing `${docker.host.address}` and update the `spring.datasource.username` and `spring.datasource.password` properties using the MySQL credentials from step 4.

1. Start the UI with this command:
    ```
    ./bin/start.sh /path/to/application.yml
    ```

#[[##]]# Usage

The exposed REST endpoints can be accessed with the Swagger UI at http://host:port/swagger-ui.html#/.  The default port is 8080 but can be changed in application.yml by setting "server.port" to the desired port.  Users can be added with this SQL statement:
```
use metronrest;
insert into users (username, password, enabled) values ('your_username','your_password',1);
insert into authorities (username, authority) values ('your_username', 'ROLE_USER');
```
Users can be added to additional groups with this SQL statement:
```
use metronrest;
insert into authorities (username, authority) values ('your_username', 'your_group');
```

#[[##]]# API

Request and Response objects are JSON formatted.  The JSON schemas are available in the Swagger UI.

|            |
| ---------- |
#foreach( $restControllerInfo in $endpoints )
| [ `$restControllerInfo.getMethod().toString() $restControllerInfo.getPath()`](#$restControllerInfo.getMethod().toString().toLowerCase()-$restControllerInfo.getPath().toLowerCase().replaceAll("/", ""))|
#end

#foreach( $restControllerInfo in $endpoints )
#[[###]]# `$restControllerInfo.getMethod().toString() $restControllerInfo.getPath()`
  * Description: $restControllerInfo.getDescription()
#if($restControllerInfo.getParameterDescriptions().size() > 0)
  * Input:
#end
#foreach( $parameterDescription in $restControllerInfo.getParameterDescriptions().entrySet())
    * $parameterDescription.getKey() - $parameterDescription.getValue()
#end
  * Returns:
#foreach( $response in $restControllerInfo.getResponses())
    * $response.getCode() - $response.getMessage()
#end

#end

#[[##]]# License

This project depends on the Java Transaction API.  See https://java.net/projects/jta-spec/ for more details.
