/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "../../../vendor.scss";
@import "../../../styles.scss";
@import "../../../variables.scss";

.pcap-progress-background {
  background-color: #2E2E2E;
}

.pcap-progress {
  background-color: #0F6F9E;
  transition-duration:2s;
  animation-duration: 2s;
}

.progress {
  height: 34px;
}

.progress-bar {
  width: 0;
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
  font-size: 0.875rem;
}

.pcap-progress-wrapper {
  position: relative;
  padding-right: 55px;
}

.pcap-cancel-query-button {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  background: $icon-button-background;
  min-width: 42px;
  padding-left: 0;
  padding-right: 0;
  border: 1px solid $blue-chill !important;
  cursor: pointer;

  &:focus {
    box-shadow: none;
  }

  &::before {
    font-family: "FontAwesome";
    content: '\f00d';
    color: $piction-blue;
  }
}
