/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "variables";

.hexagon {
  position: absolute;
  left: -15px;
  top: 17px;
  width: 30px;
  height: 17.321px;
  background-color: #64C7CC;
  margin: 8.660px 0;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }

  &:before {
    bottom: 100%;
    border-bottom: 8.660px solid #64C7CC;
  }

  &:after {
    top: 100%;
    width: 0;
    border-top: 8.660px solid #64C7CC;
  }

  &.error {
    background-color: $errors-red;
    &:before  {
      border-bottom: 8.660px solid $errors-red;
    }

    &:after  {
      border-top: 8.660px solid $errors-red;
    }
  }

  &.warning {
    background-color: $warning-yellow;
    &:before  {
      border-bottom: 8.660px solid $warning-yellow;
    }

    &:after  {
      border-top: 8.660px solid $warning-yellow;
    }
  }

  &.info {
    background-color: $info-yellow;
    &:before  {
      border-bottom: 8.660px solid $info-yellow;
    }

    &:after  {
      border-top: 8.660px solid $info-yellow;
    }
  }

  span {
    line-height: 1.7;
    position: absolute;
    font-size: 12px;
    text-align: center;
    width: 100%;
    color: $white;
  }

}