/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
//Bootstrap overrides
$body-bg: #232323;
$body-color: #999999;
$btn-primary-bg: #006EA0;
$btn-primary-border: #006EA0;
$dropdown-bg: #262626;
$dropdown-border-color: #4D4D4D;
$dropdown-link-color: #999999;
$dropdown-min-width: 8rem;
$dropdown-link-hover-color: #999999;
$dropdown-link-hover-bg: #333333;
$table-border-color: #404040;
$list-group-bg: #262626;
$list-group-border-color: #404040;
$list-group-active-bg: #28A9E2;
$list-group-item-padding-y: 4px;
$list-group-item-padding-x: 10px;
$tooltip-bg: #494411;
$tooltip-padding-y: 2px;
$tooltip-padding-x: 5px;
$tooltip-arrow-width: 0px;

//Metron variables
$mine-shaft: #2E2E2E;
$mine-shaft-1: #2D2D2D;
$mine-shaft-2: #333333;
$mine-shaft-3: #262626;
$mine-shaft-4: #383838;
$mine-shaft-5: #3D3D3D;
$mine-shaft-6: #252525;
$mine-shaft-7: #2C2C2C;
$mine-shaft-8: #353535;
$mine-shaft-9: #2B2B2B;
$mine-shaft-10: #303030;
$mine-shaft-11: #3A3A3A;
$dove-grey: #737373;
$tundora: #4D4D4D;
$tundora-1: #404040;
$tundora-2: #4C4C4C;
$curious-blue: #27AAE1;
$blue-chill: #0F6F9E;
$piction-blue: #32ABDF;
$picton-blue-1: #53C3EA;
$dove-grey: #6B6B6B;
$dove-grey-1: #676767;
$dove-grey-2: #6D6D6D;
$checkbox-checked-color: #32abe2;
$edit-panel-background: #083b44;
$errors-red: #D60A15;
$warning-yellow: #D6711D;
$info-yellow: #AC9B5A;
$eden: #0C3B43;
$eden-1: #0F4450;
$all-ports: #006EA0;
$blue-mine: #1B596C;
$gothic: #689AA9;
$tiber: #0B363E;
$silver: #BDBDBD;
$silver-1: #B8B8B8;
$silver-2: #C8C8C8;
$breaker-bay: #669AAA;
$gray: #909090;
$silver-chalice: #B2B2B2;
$silver-chalice-2: #A2A2A2;
$silver-chalice-3: #B0B0B0;
$dusty-grey: #999999;
$dusty-grey-1: #9B9A9A;
$outer-space: #2D3A3F;
$eastern-blue: #1F91BE;
$mantis: #80BF4D;
$sky-blue: #75D2ED;
$outer-space: #2E3A3F;
$abbey: #58595B;
$white: #FFFFFF;
$iron: #D1D3D4;

$rolling-stone: #808285;
$nile-blue: #18404E;
$apple-blossom: #A94442;

$eastern-blue-1: #1190C0;
$eastern-blue-2: #2192BF;
$matisse: #1E7490;
$downy: #77BBD0;
$trout: #515760;
$oslo-gray: #808792;
$gray-chateau: #9BA1AA;

$nav-bar-bg: $mine-shaft;
$input-background: $mine-shaft-1;
$input-border-color: $tundora;
$icon-button-background: $mine-shaft-2;
$placeholder-color: $dove-grey;

$nav-content-nav-width: 200px;

$login-label: #606060;
$black: #000000;


//Pikaday
$pd-text-color: #999999;
$pd-title-color: #999999;
$pd-title-bg: #3D3D3D;
$pd-picker-bg: #3D3D3D;
$pd-picker-border: #4D4D4D;
$pd-picker-border-bottom: #353535;
$pd-picker-shadow: rgba(0,0,0,.5);
$pd-th-color: #999;
$pd-day-color: #999999;
$pd-day-bg: #2D2D2D;
$pd-day-hover-color: #FDFEFE;
$pd-day-hover-bg: #1F91BE;
$pd-day-today-color: #FFFFFF;
$pd-day-selected-color: #1E87AF;
$pd-day-selected-bg: tranparent;
$pd-day-selected-shadow: tranparent;
$pd-day-disabled-color: #999;
$pd-week-color: #999;

@mixin place-holder-text
{
  font-family: Roboto;
  font-size: 11px;
  font-style: italic !important;
}

.list-group-item {
  font-size: 14px;
}

$theme-colors: (
  "primary": #006ea0
);
