<!--
  Licensed to the Apache Software
	Foundation (ASF) under one or more contributor license agreements. See the
	NOTICE file distributed with this work for additional information regarding
	copyright ownership. The ASF licenses this file to You under the Apache License,
	Version 2.0 (the "License"); you may not use this file except in compliance
	with the License. You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software distributed
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for
  the specific language governing permissions and limitations under the License.
  -->
<metron-config-sensor-rule-editor *ngIf="showTextEditor" [riskLevelRule]="currentRiskLevelRule"
                                  (onCancelTextEditor)="onCancelTextEditor()"
                                  (onSubmitTextEditor)="onSubmitTextEditor($event)"></metron-config-sensor-rule-editor>

<div class="metron-slider-pane-edit fill load-left-to-right dialog1x">

    <div class="form-title">Threat Triage Rules</div>
    <i class="fa fa-times float-right close-button" aria-hidden="true" (click)="onClose()"></i>


    <form role="form" class="threat-intel-form">
        <div class="form-group threat-triage-aggregator">
            <label attr.for="aggregator">AGGREGATOR</label>
            <select class="form-control" name="aggregator"
                    [(ngModel)]="sensorEnrichmentConfig.threatIntel.triageConfig.aggregator">
                <option *ngFor="let aggregator of availableAggregators" [value]="aggregator">{{aggregator}}</option>
            </select>
        </div>
        <div class="threat-triage-summary">
            <div class="form-group">
                <div class="rules-summary-title">Rules</div>
                <div class="row mx-0">
                    <div class="btn" (click)="onFilterChange(threatTriageFilter.HIGH)" [ngClass]="{'filter-button': filter != threatTriageFilter.HIGH, 'filter-button-selected': filter == threatTriageFilter.HIGH}">
                        <i aria-hidden="true" class="fa fa-circle" style="color: red"></i> {{highAlerts}}
                    </div>
                    <div class="btn" (click)="onFilterChange(threatTriageFilter.MEDIUM)" [ngClass]="{'filter-button': filter != threatTriageFilter.MEDIUM, 'filter-button-selected': filter == threatTriageFilter.MEDIUM}">
                        <i aria-hidden="true" class="fa fa-circle" style="color: orange"></i> {{mediumAlerts}}
                    </div>
                    <div class="btn" (click)="onFilterChange(threatTriageFilter.LOW)" [ngClass]="{'filter-button': filter != threatTriageFilter.LOW, 'filter-button-selected': filter == threatTriageFilter.LOW}">
                        <i aria-hidden="true" class="fa fa-circle" style="color: khaki"></i> {{lowAlerts}}
                    </div>
                </div>
                <div class="row mx-0 threat-triage-rules-sort">
                    <span class="label">Sort by </span>
                    <li class="nav-item dropdown">
                        <span class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{sortOrderOption[sortOrder].replace('_', ' ')}}</span>
                        <div class="dropdown-menu bg-inverse">
                            <span class="dropdown-item" (click)="onSortOrderChange(sortOrderOption.Highest_Score)">Highest Score</span>
                            <span class="dropdown-item" (click)="onSortOrderChange(sortOrderOption.Lowest_Score)">Lowest Score</span>
                            <span class="dropdown-item" (click)="onSortOrderChange(sortOrderOption.Highest_Name)">Highest Name</span>
                            <span class="dropdown-item" (click)="onSortOrderChange(sortOrderOption.Lowest_Name)">Lowest Name</span>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        <div class="form-group threat-triage-rules-list">
            <div *ngFor="let riskLevelRule of this.visibleRules">
                <div class="row mx-0 py-0">
                    <div class="threat-triage-rule-row" style="color: khaki; font-size: 30px; margin-top: -7px" [style.color]="getRuleColor(riskLevelRule)">
                        <b>I</b>
                    </div>
                    <div class="threat-triage-rule-row" style="font-size: small; width: 8%">
                        {{ riskLevelRule.score }}
                    </div>
                    <div class="threat-triage-rule-row threat-triage-rule-str">
                        {{ getDisplayName(riskLevelRule) }}
                    </div>
                    <div class="threat-triage-rule-row" style=""><i class="fa fa-i-cursor" aria-hidden="true"
                                                                        style="cursor: pointer;" (click)="onEditRule(riskLevelRule)"></i></div>

                    <div class="threat-triage-rule-row" style=""><i  class="fa fa-trash-o" aria-hidden="true" (click)="onDeleteRule(riskLevelRule)" style="cursor: pointer"></i></div>
                </div>
                <div class="form-seperator-edit"></div>
            </div>
        </div>
        <div class="form-group mx-0 py-0">
            <button class="btn form-enable-disable-button add-button" (click)="onNewRule()"><i
                    aria-hidden="true" class="fa fa-plus fa-4"></i></button>
        </div>
    </form>

</div>
