<!--
  Licensed to the Apache Software
	Foundation (ASF) under one or more contributor license agreements. See the
	NOTICE file distributed with this work for additional information regarding
	copyright ownership. The ASF licenses this file to You under the Apache License,
	Version 2.0 (the "License"); you may not use this file except in compliance
	with the License. You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software distributed
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for
  the specific language governing permissions and limitations under the License.
  -->
<metron-config-metron-modal [backgroundMasked]="false">

    <div class="metron-slider-pane fill load-right-to-left dialog1x">
      <div>
      <div class="row">
        <div class="col-xs-12 form-title">{{selectedSensorName}}
          <i class="fa fa-times pull-right close-button" aria-hidden="true" (click)="goBack()"></i>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 form-title-subscript">{{sensorParserConfigHistory.ip}}</div>
      </div>

      <div *ngFor="let item of editViewMetaData">
        <div [ngSwitch]="item.type">

          <div *ngSwitchCase="'SEPARATOR'" class="row form-seperator">
          </div>

            <div  *ngSwitchCase="'SPACER'" class="row">
                <div class="col-xs-12 form-title">&nbsp;</div>
            </div>

          <div  *ngSwitchCase="'TITLE'" class="row">
            <div class="col-xs-12 form-title">{{ item.value }}</div>
          </div>

          <div *ngSwitchDefault class="row">
              <div *ngIf="item.label!=''" class="col-xs-6 form-label" [ngClass]="{'form-value font-weight-bold': item.boldTitle}">{{ item.label }}</div>
            <div *ngIf="item.model == 'sensorParserConfigHistory'" class="col-xs-6  px-0 pull-left form-value">{{ sensorParserConfigHistory[item.value] ? sensorParserConfigHistory[item.value] : "-" }}</div>
            <div *ngIf="item.model == 'kafka'" class="col-xs-6  px-0 pull-left form-value">{{ kafkaTopic[item.value] ? kafkaTopic[item.value] : "-" }}</div>
            <div *ngIf="item.model == 'topologyStatus'" class="col-xs-6  px-0  pull-left form-value">{{ topologyStatus[item.value] ? topologyStatus[item.value] : "-" }}</div>
            <div *ngIf="item.model == 'grokStatement'">
              <div id="collapseGrok" class="col-xs-12  pull-left form-value panel-collapse collapse" [innerHtml]="grokFunctionStatement"></div>
              <div class="col-xs-12  pull-left form-value" [innerHtml]="grokMainStatement"></div>
              <a class="collapsed blue-label font-weight-bold col-xs-8 col-xs-push-4" data-toggle="collapse" href="#collapseGrok" aria-expanded="false" aria-controls="collapseGrok" [hidden]="grokMainStatement.length==0" #grokLink> {{ grokLink.classList.contains("collapsed") ? "show more" : "show less" }}</a>
            </div>
            <div *ngIf="item.model == 'transforms'">
              <div  class="col-xs-12  pull-left form-value" [innerHtml]="getTransformsOutput()"></div>

              <div id="collapseTransform" class="col-xs-12  pull-left form-value panel-collapse collapse">
                <div>
                  <div class="col-xs-12 px-0"><b>CONFIG</b><br></div>
                  <div *ngFor="let results of getTransformsConfigKeys();" >
                    <div class="form-label">{{ results }}</div>
                    <div>{{ sensorParserConfigHistory.config.fieldTransformations[0].config[results] }}</div>
                  </div>
                </div>
              </div>
              <a class="collapsed blue-label font-weight-bold col-xs-8 col-xs-push-4" data-toggle="collapse" href="#collapseTransform" aria-expanded="false" aria-controls="collapseTransform" #transformLink> {{ transformLink.classList.contains("collapsed") ? "show more" : "show less" }}</a>

            </div>
          </div>

        </div>
      </div>
    </div>
      <br> <br> <br> <br>

    <div class="metron-button-bar" >
        <div class="row pl-1 py-1">
          <button class="btn btn-primary readonly-view-inline-button pl-1" type="button" (click)="onEditSensor()"  [disabled]="startStopInProgress">Edit</button>

          <button class="btn btn-primary readonly-view-inline-button" type="button" (click)="onStartSensor()" [disabled]="startStopInProgress" [hidden]="(topologyStatus.status != 'Stopped')">START</button>
          <button class="btn form-enable-disable-button readonly-view-inline-button" type="button" (click)="onStopSensor()" [disabled]="startStopInProgress" [hidden]="((topologyStatus.status != 'Running' && topologyStatus.status != 'Disabled'))">STOP</button>

          <button class="btn btn-primary readonly-view-inline-button" type="button" (click)="onEnableSensor()" [disabled]="startStopInProgress" [hidden]="(topologyStatus.status != 'Disabled')" >ENABLE</button>
          <button class="btn form-enable-disable-button readonly-view-inline-button" type="button" (click)="onDisableSensor()" [disabled]="startStopInProgress" [hidden]="(topologyStatus.status != 'Running')">DISABLE</button>

          <div class="readonly-view-inline-button"> <a style="color:#d60616;text-decoration: none; font-weight: bold; cursor: pointer;" (click)="onDeleteSensor()"> Delete </a> </div>

          <div class="blue col-xs-7 col-xs-push-5"> <i class="fa fa-circle-o-notch fa-spin fa-lg fa-fw" [hidden]="!startStopInProgress"></i> </div>
        </div>
      </div>
    </div>




</metron-config-metron-modal>
