<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<project name="Metron" xmlns="http://maven.apache.org/DECORATION/1.3.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/DECORATION/1.3.0 http://maven.apache.org/xsd/decoration-1.3.0.xsd">

    <skin>
        <groupId>org.apache.maven.skins</groupId>
        <artifactId>maven-fluido-skin</artifactId>
        <version>1.7</version>
    </skin>

    <custom>
        <fluidoSkin>
            <project>Apache Metron</project>
	    <topBarEnabled>false</topBarEnabled>
            <sideBarEnabled>true</sideBarEnabled>
        </fluidoSkin>
    </custom>

    <bannerLeft>
        <name>Apache Metron</name>
        <src>images/metron-logo.png</src>
	<href>http://metron.apache.org/</href>
        <width>148px</width>
        <height>48px</height>
    </bannerLeft>

    <publishDate position="right"/>
    <version position="right"/>

    <body>
        <head>
          <![CDATA[
            <script type="text/javascript">
              $( document ).ready( function() { $( '.carousel' ).carousel( { interval: 3500 } ) } );
            </script>
          ]]>
        </head>

        <breadcrumbs position="left">
            <item name="Apache" href="http://www.apache.org"/>
            <item name="Metron" title="Apache Metron" href="http://metron.apache.org/"/>
	    <item name="Documentation" title="Metron Docs" href="index.html"/>
        </breadcrumbs>

	<menu name="User Documentation">
	<!-- BEGIN_MENU_TREE - Do not remove this line, it is used for auto-insert -->
            <!-- The nav tree contents are machine generated into this location -->
	<!-- END_MENU_TREE - Do not remove this line, it is used for auto-insert -->
	</menu>

        <footer>
            Â© 2015-2016 The Apache Software Foundation. Apache Metron, Metron, Apache, the Apache feather logo,
            and the Apache Metron project logo are trademarks of The Apache Software Foundation.
        </footer>
    </body>
</project>
