/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.autocomplete
{
  width:100%;
  overflow: auto;
  resize: vertical;
  white-space: pre-wrap;
  display: block;

  ul
  {
    list-style: none;
    text-decoration: none;
    padding-left: 0px;
  }
}

.autocomplete-item
{
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  text-align: inherit;
  background: none;
  border: 0;
  cursor: pointer;
  display: block;
}

.autocomplete-select
{
  position: absolute;
  width: 200px;
  min-height: 37px;
  height: auto;
  max-height: 200px;
  overflow: auto;
}

.autocomplete-item.active
{
  background: #17596d;
}


