<form (ngSubmit)="onSubmit()" #f="ngForm" class="form-inline pcap-search">
  <div class="form-group">
    <label for="ip_src_addr">IP Source Address</label>
    <input name="ip_src_addr" #ip_src_addr="ngModel" class="form-control" pattern="^(?:\d{1,3}\.){3}\d{1,3}(.\d{1,2})?$" [(ngModel)]="model.ip_src_addr">
  </div>
  
  <div class="form-group">
    <label for="ip_src_port">IP Source Port</label>
    <input name="ip_src_port" #ip_src_port="ngModel" class="form-control" type="number" [(ngModel)]="model.ip_src_port">
  </div>

  <div class="form-group"><label for="ip_dest_addr">IP Dest Address</label>
    <input name="ip_dest_addr" #ip_dest_addr="ngModel" class="form-control" pattern="^(?:\d{1,3}\.){3}\d{1,3}(.\d{1,2})?$" [(ngModel)]="model.ip_dest_addr">
  </div>

  <div class="form-group">
    <label for="ip_dest_port">IP Dest Port</label>
    <input id="ip_dest_port" name="ip_dest_port" #ip_dest_port="ngModel" class="form-control" type="number" [(ngModel)]="model.ip_dest_port">
  </div>

  <div class="form-group">
    <label for="filter">Filter</label>
    <input name="filter" #filter="ngModel" class="form-control" [(ngModel)]="model.filter">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-search" [disabled]="!f.form.valid"></button>
  </div>
</form>
