#
#  Licensed to the Apache Software Foundation (ASF) under one or more
#  contributor license agreements.  See the NOTICE file distributed with
#  this work for additional information regarding copyright ownership.
#  The ASF licenses this file to You under the Apache License, Version 2.0
#  (the "License"); you may not use this file except in compliance with
#  the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
[defaults]
stdout_callback = yaml
bin_ansible_callbacks = True
host_key_checking = False
library = /root/metron/metron-deployment/ansible/extra_modules
roles_path = /root/metron/metron-deployment/ansible/roles
pipelining = True
scp_if_ssh = True
callback_plugins = /root/metron/metron-deployment/ansible/callback_plugins

# fix for "ssh throws 'unix domain socket too long' " problem
[ssh_connection]
control_path = %(directory)s/%%h-%%p-%%r
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60m -o ServerAliveInterval=100 -o ServerAliveCountMax=120