<!--
  Licensed to the Apache Software
	Foundation (ASF) under one or more contributor license agreements. See the
	NOTICE file distributed with this work for additional information regarding
	copyright ownership. The ASF licenses this file to You under the Apache License,
	Version 2.0 (the "License"); you may not use this file except in compliance
	with the License. You may obtain a copy of the License at
  http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software distributed
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for
  the specific language governing permissions and limitations under the License.
  -->
<div class="metron-slider-pane-details load-right-to-left dialog1x" [ngClass]="{'is-meta-alert': isMetaAlert}">
    <div class="container-fluid pl-0 h-100" [ngClass]="{'pr-0': isMetaAlert}">
        <div class="h-100 d-flex">
            <div class="nav-container" *ngIf="!isMetaAlert">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            [ngClass]="{'active': activeTab === tabs.DETAILS}"
                            (click)="activeTab=tabs.DETAILS"
                            data-qe-id="details"
                        >
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            [ngClass]="{'active': activeTab === tabs.COMMENTS}"
                            (click)="activeTab=tabs.COMMENTS"
                            data-qe-id="comments"
                        >
                            <i class="fa fa-comment" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="details-container">
                <div class="container-fluid h-100">
                    <div class="row title-container">
                        <div class="col-md-10 px-0">
                            <div class="form-title row ml-2">
                                <div class="col px-0">
                                    <span appAlertSeverity [severity]="getScore(alertSource)"> </span>
                                    <span> {{ getScore(alertSource) }} </span>
                                </div>
                                <div class="px-0" style="width: 205px">
                                    <span [ngClass]="{'editable-text': alertSources.length > 1}" *ngIf="!showEditor" (click)="toggleNameEditor()"> {{ (alertSource.name && alertSource.name.length > 0)? alertSource.name : alertId | centerEllipses:20 }} </span>
                                    <div class="input-group" *ngIf="showEditor">
                                        <input type="text" class="form-control"  [(ngModel)]="alertName">
                                        <span class="input-group-addon" [ngClass]="{'disabled': alertName.length === 0}" (click)="saveName()" ><i class="fa fa-check" aria-hidden="true"></i></span>
                                        <span class="input-group-addon" (click)="toggleNameEditor()"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 px-0">
                            <i class="fa fa-times pull-right close-button" aria-hidden="true" (click)="goBack()"></i>
                        </div>
                    </div>
                    <div class="row justify-content-center py-4 actions">
                        <table>
                            <tr>
                                <td class="title"> Status</td>
                                <td [ngClass]="{'primary': selectedAlertState === alertState.ESCALATE, 'secondary': selectedAlertState !== alertState.ESCALATE}" data-name="escalate" (click)="processEscalate()">ESCALATE</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td [ngClass]="{'primary': selectedAlertState === alertState.NEW, 'secondary': selectedAlertState !== alertState.NEW}" data-name="new" (click)="processNew()">NEW</td>
                                <td [ngClass]="{'primary': selectedAlertState === alertState.OPEN, 'secondary': selectedAlertState !== alertState.OPEN}" data-name="open" (click)="processOpen()">OPEN</td>
                                <td [ngClass]="{'primary': selectedAlertState === alertState.DISMISS, 'secondary': selectedAlertState !== alertState.DISMISS}" data-name="dismiss" (click)="processDismiss()">DISMISS</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td [ngClass]="{'primary': selectedAlertState === alertState.RESOLVE, 'secondary': selectedAlertState !== alertState.RESOLVE}" data-name="resolve" (click)="processResolve()">RESOLVE</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>

                    <div class="ml-1 my-3 form" *ngIf="activeTab === tabs.DETAILS">
                        <ng-container *ngFor="let alert of alertSources; let i = index;" >
                            <div class="pb-2 alert-details-title"> Alert {{ i + 1 }} of {{ alertSources.length }}</div>
                            <div *ngFor="let field of alert | alertDetailsKeys" class="row ml-1">
                                <div class="col-6 mb-1 key">{{ field }}</div>   <div class="col-6"> {{ alert[field] }} </div>
                            </div>
                        </ng-container>
                    </div>

                    <div *ngIf="activeTab === tabs.COMMENTS" class="my-4">
                        <div> Comments <span *ngIf="alertCommentsWrapper.length > 0"> ({{alertCommentsWrapper.length}}) </span></div>
                        <textarea class="form-control" [(ngModel)]="alertCommentStr"> </textarea>
                        <button class="btn btn-mine_shaft_2" [disabled]="alertCommentStr.trim().length === 0" (click)="onAddComment()">ADD COMMENT</button>
                        <ng-container *ngFor="let alertCommentWrapper of alertCommentsWrapper; let i = index">
                            <hr>
                            <div class="comment-container" data-qe-id="comment">
                                <i
                                    class="fa fa-trash-o"
                                    aria-hidden="true"
                                    (click)="onDeleteComment(i)"
                                    data-qe-id="delete-comment"
                                >
                                </i>
                                <div class="comment"> {{ alertCommentWrapper.alertComment.comment }} </div>
                                <div class="font-italic username-timestamp"> - {{ alertCommentWrapper.alertComment.username }} - {{alertCommentWrapper.displayTime}}</div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
