<!--
  Licensed to the Apache Software
	Foundation (ASF) under one or more contributor license agreements. See the
	NOTICE file distributed with this work for additional information regarding
	copyright ownership. The ASF licenses this file to You under the Apache License,
	Version 2.0 (the "License"); you may not use this file except in compliance
	with the License. You may obtain a copy of the License at
  http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software distributed
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for
  the specific language governing permissions and limitations under the License.
  -->
<div class="metron-slider-pane-editable load-right-to-left dialog2x">
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="d-flex pb-3">
          <div class="form-title font-weight-bold">Configure Table</div>
          <i class="fa fa-times ml-auto close-button" aria-hidden="true" (click)="goBack()"></i>
        </div>
        <div class="input-group">
          <input class="input flex-fill" data-qe-id="filter-input" type="text" placeholder="Filter list" #filterColResults >
          <div class="input-group-append">
            <button class="btn btn-secondary btn-search-clear" data-qe-id="filter-reset" (click)="clearFilter()"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mx-0">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 10%"> <input id="select-deselect-all-col" class="fontawesome-checkbox" type="checkbox" (click)="onSelectDeselectAll($event)"><label for="select-deselect-all-col"></label> </th>
            <th style="width: 30%"> Field </th>
            <th style="width: 10%"> Short Name </th>
            <th style="width: 30%"> Type  </th>
            <th style="width: 10%"> </th>
            <th style="width: 10%"> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input #selectColName id="select-deselect-score" class="fontawesome-checkbox" type="checkbox" [checked]="true" disabled><label for="select-deselect-score"></label></td>
            <td> <span> Score </span></td>
            <td> </td>
            <td> <span> STRING </span></td>
            <td> - </td>
            <td> - </td>
          </tr>
          <tr *ngFor="let columns of filteredColumns; let i = index" [ngClass]="{'background-tiber': columns.selected}">
            <td>
              <input #selectColName id="select-deselect-{{ columns.columnMetadata.name }}" class="fontawesome-checkbox" type="checkbox" [checked]="columns.selected" (click)="selectColumn(columns)">
              <label for="select-deselect-{{ columns.columnMetadata.name }}"></label>
            </td>
            <td #element>
              <span [attr.title]="columns.key"> {{ columns.columnMetadata.name | centerEllipses }} </span>
            </td>
            <td>
              <input class="input" attr.data-qe-id="display-name-{{ columns.columnMetadata.name }}" placeholder="rename" [(ngModel)]="columns.displayName">
            </td>
            <td>
              <span class="text-uppercase"> {{ columns.columnMetadata.type }} </span>
            </td>
            <td>
              <span id="up-{{ columns.columnMetadata.name }}" class="up" (click)="swapUp(i)" [ngClass]="{'disabled': i === 0}"></span>
            </td>
            <td>
              <span id="down-{{ columns.columnMetadata.name }}" class="down" (click)="swapDown(i)" [ngClass]="{'disabled': i + 1 === allColumns.length}"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container-fluid metron-floating-button-bar-2x">
    <button type="submit" data-qe-id="save-table-config" class="btn btn-all_ports" (click)="save()">SAVE</button>
    <button class="btn btn-mine_shaft_2" (click)="goBack()">CANCEL</button>
  </div>
</div>
