/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "../../../slider";
@import "../../../variables";

.container-fluid {
  padding-top: 15px;
}

.form-title {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table th, .table td {
  padding: 0.6rem 0.25rem;
}

.up:before {
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 14px;
  content: '\f077';
  color: $gothic;
}

.down:before {
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 14px;
  content: '\f078';
  color: $gothic;
}

.disabled:before {
  opacity: 0.3;
  cursor: default;
}

.input {
  padding-left: .5rem;
}

.btn-search-clear {
  background: #2D2D2D;
  border-bottom: 1px solid #4D4D4D;
  border-left: none;
  border-right: 1px solid #4D4D4D;
  border-top: 1px solid #4D4D4D;
  cursor: pointer;
  padding: 0px 5px 0px 0px;
  width: 30px;

  &::before {
    font-family: "FontAwesome";
    content: '\f057';
    color: #909090;
    padding-left: 5px;
  }
}
