doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    title Kibana 3{{dashboard.current.title ? " - "+dashboard.current.title : ""}}
    link(rel='stylesheet', href='css/bootstrap.light.min.css', title='Light')
    link(rel='stylesheet', href='css/timepicker.css')
    link(rel='stylesheet', href='css/animate.min.css')
    link(rel='stylesheet', href='css/normalize.min.css')
    link(rel='stylesheet', href='css/metron.css')
    //
       load the root require context
    script(src='vendor/require/require.js')
    script(src='app/components/require.config.js')
    script.
      user=!{user}
      config=!{config}
      require(['app'], function () {})
    style
  body
    noscript
      .container
        center
          h3 You must enable javascript to use Kibana
    link(rel='stylesheet', ng-href='css/bootstrap.{{dashboard.current.style||\'dark\'}}.min.css')
    link(rel='stylesheet', href='css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    div(class='alert-{{alert.severity}} dashboard-notice', ng-cloak='ng-cloak', ng-repeat='alert in dashAlerts.list', ng-show='$last')
      button.close(type='button', ng-click='dashAlerts.clear(alert)', style='padding-right: 50px;') ×
      strong {{alert.title}}
      span(ng-bind-html='alert.text')
      .pull-right.small(style='padding-right: 10px;') {{$index + 1}} alert(s)
    .navbar.navbar-static-top(ng-cloak='ng-cloak')
      .navbar-inner
        .container-fluid
          span.brand
            img(src='img/small.png', bs-tooltip='\'Kibana \'+(kbnVersion==\'@REV@\'?\'master\':kbnVersion)', data-placement='bottom')
            | {{dashboard.current.title}}
          ul.nav.pull-right(ng-controller='dashLoader', ng-init='init()', ng-include='\'app/partials/dashLoader.html\'')
    div(ng-cloak='ng-cloak', ng-view='ng-view')

