{
  "apiRoot": "{{metron_rest_path}}",
  "loginPath": "{{metron_alerts_ui_login_path}}",
  "contextMenuConfigURL": "{{metron_alerts_ui_context_menu_config_url}}",
  "managementUIHost": "{{metron_management_ui_host}}",
  "managementUIPort": "{{metron_management_ui_port}}"
}