{#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#}

spring:
  application:
    name: metron-config

metron:
  version: 0.5.1

logging:
  level:
    root: WARN

server:
  port: {{metron_management_ui_port}}
  session:
    cookie:
      secure: false
      name: METRONCONFIGSESSION
{% if metron_alerts_ssl %}
  ssl:
    key-store: {{metron_config_ssl_keystore}}
    key-store-password: ${METRON_KEYSTORE_PASSWORD} 
    key-store-type: {{metron_config_ssl_keystoretype}}
    key-alias: {{metron_config_ssl_keyalias}}
security:
  require-ssl: true
{% endif %}

zuul:
  routes:
    rest:
      path: /api/v1/**
      url: http://{{metron_rest_host}}:{{metron_rest_port}}/api/v1/
      sensitiveHeaders: Cookie,Set-Cookie

proxy:
  auth:
    routes:
      rest: passthru

ribbon:
  ConnectTimeout: 3000
  ReadTimeout: 60000

ldap:
  provider:
    url: {{ldap_url}}
    userdn: {{ldap_userdn}}
    password: {{ldap_password}}
  user:
    dn.patterns: {{ldap_user_pattern}}
    passwordAttribute: {{ldap_user_password}}
    searchBase: {{ldap_user_searchbase}}
    searchFilter: {{ldap_user_searchfilter}}
  group:
    searchBase: {{ldap_group_searchbase}}
    searchFilter: {{ldap_group_searchfilter}}
    roleAttribute: {{ldap_group_role}}

{% if knox_sso_enabled %}
knox:
  sso:
    url: {{knox_sso_url}}
    cookie: {{knox_sso_cookie}}
    originalurl: {{knox_sso_originalurl}}
    pubkey: {{knox_sso_pubkey}}
{% endif %}
