#  Licensed to the Apache Software Foundation (ASF) under one
#  or more contributor license agreements.  See the NOTICE file
#  distributed with this work for additional information
#  regarding copyright ownership.  The ASF licenses this file
#  to you under the Apache License, Version 2.0 (the
#  "License"); you may not use this file except in compliance
#  with the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
JAVA_HOME="{{java_home}}"
METRON_HOME="{{metron_home}}"
METRON_USER="{{metron_user}}"
METRON_LOG_DIR="{{metron_log_dir}}"
METRON_PID_DIR="{{metron_pid_dir}}"
METRON_REST_PORT={{metron_rest_port}}
METRON_JVMFLAGS="{{metron_jvm_flags}}"
METRON_SPRING_PROFILES_ACTIVE="{{metron_spring_profiles_active}}"

#JDBC
METRON_JDBC_DRIVER="{{metron_jdbc_driver}}"
METRON_JDBC_URL="{{metron_jdbc_url}}"
METRON_JDBC_USERNAME="{{metron_jdbc_username}}"
METRON_JDBC_PLATFORM="{{metron_jdbc_platform}}"
METRON_JDBC_CLIENT_PATH="{{metron_jdbc_client_path}}"
METRON_TEMP_GROK_PATH="{{metron_temp_grok_path}}"
METRON_SPRING_OPTIONS="{{metron_spring_options}}"

#LDAP
METRON_LDAP_URL="{{metron_ldap_url}}"
METRON_LDAP_USERDN="{{metron_ldap_userdn}}"
METRON_LDAP_USER_PATTERN="{{metron_ldap_user_pattern}}"
METRON_LDAP_USER_DNBASE="{{metron_ldap_user_dnbase}}"
METRON_LDAP_USER_SEARCHBASE="{{metron_ldap_user_searchbase}}"
METRON_LDAP_USER_PASSWORD="{{metron_ldap_user_password}}"
METRON_LDAP_USER_SEARCHFILTER="{{metron_ldap_user_searchfilter}}"
METRON_LDAP_GROUP_SEARCHBASE="{{metron_ldap_group_searchbase}}"
METRON_LDAP_GROUP_SEARCHFILTER="{{metron_ldap_group_searchfilter}}"
METRON_LDAP_GROUP_ROLE="{{metron_ldap_group_role}}"
METRON_LDAP_SSL_TRUSTSTORE="{{metron_ldap_ssl_truststore}}"

#Roles
METRON_USER_ROLE="{{metron_user_role}}"
METRON_ADMIN_ROLE="{{metron_admin_role}}"

ZOOKEEPER="{{zookeeper_quorum}}"
BROKERLIST="{{kafka_brokers}}"
HADOOP_CONF_DIR="/etc/hadoop/conf/"
STORM_REST_URL="{{storm_rest_addr}}"
SECURITY_ENABLED={{security_enabled|lower}}
{% if metron_principal_name is defined %}METRON_PRINCIPAL_NAME="{{metron_principal_name}}"
{% endif %}
{% if metron_keytab_path is defined %}METRON_SERVICE_KEYTAB="{{metron_keytab_path}}"
{% endif %}
KAFKA_SECURITY_PROTOCOL="{{kafka_security_protocol}}"
PARSER_TOPOLOGY_OPTIONS="/home/{{metron_user}}/.storm/storm.config"
METRON_ESCALATION_TOPIC="{{metron_escalation_topic}}"
PCAP_BASE_PATH="{{pcap_base_path}}"
PCAP_BASE_INTERIM_RESULT_PATH="{{pcap_base_interim_result_path}}"
PCAP_FINAL_OUTPUT_PATH="{{pcap_final_output_path}}"
PCAP_PAGE_SIZE="{{pcap_page_size}}"
PCAP_YARN_QUEUE="{{pcap_yarn_queue}}"
PCAP_FINALIZER_THREADPOOL_SIZE="{{pcap_finalizer_threadpool_size}}"
