<a [attr.href]="'#' + uniqueId"  data-toggle="collapse"  aria-expanded="true" [attr.aria-controls]="uniqueId" class="pr-2"
   [ngClass]="{'font-size-14' : fontSize === 14, 'font-size-15' : fontSize === 15, 'border-bottom' : titleSeperator=== true}">
  {{ data.getName() }}
</a>
<div class="collapse" [attr.id]="uniqueId" [ngClass]="{'show': show === true}">
  <div *ngIf="data.getData().length === 0" class="container-fluid no-data-text">
    <i> {{ 'No ' +  data.getName() + ' yet'}} </i>
  </div>
  <ul  *ngIf="data.getData().length > 0"  class="list-group">
    <li *ngFor="let data of data.getData()" class="list-group-item justify-content-between anchor"
        [ngClass]="{'font-size-14' : fontSize === 14, 'font-size-15' : fontSize === 15}"
        (click)="onSelectClick(data.key)">
      {{ data.key | centerEllipses: strLength }}
      <span *ngIf="data.doc_count" class="badge badge-default badge-pill"> {{ data.doc_count }} </span>
      <span *ngIf="deleteOption" class="delete" (click)="onDeleteClick($event, data.key)"> </span>
    </li>
  </ul>
</div>